
header {
    background-color: #b4610e7a;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    height: 100px;
    margin:0;
    padding:0;
    background-size: absolute;
}

body {
    background-image: url('fondimeow.png');
    /* Cambia 'fondo.jpg' por el nombre de tu imagen */
    background-size: cover;
    background-position:center;
    background-repeat: none;
    height:100%;
    margin: 0;  
    padding: 0;
    display:flex;
    flex-direction: column;
}
footer{
    background-color: #b4610e7a;
    text-align: center;
    background-size: absolute;
    background-repeat: no-repeat;
    background-position: none;
    margin: 0;
    padding:0;
    height: 100px;
    padding:10px 0;
    font-size: 20px;
    margin-top: auto;
    flex-direction: column;
}
nav {
    background-color: #8091b4;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

nav a:hover {
    color: rgb(206, 191, 201);
    text-decoration: underline;
    margin: 0 10px;
}

/*.content {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 15px 0;
}

.content img {
    width: 100%;
    height: auto;
    margin: 15px 0;
    padding: 0;
    gap:20px;
    border-radius: 20px;
    grid-row-gap: 20px;
    object-fit: cover;
}
.scroll-conatiner{
    scroll-behavior: smooth;
}

.grid-container {
    width: 100%;
    padding: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /*modifica el tamaño de la imagen*/
   