.body {
    background-image: url('fondimeow.png');
    background-size: cover;
    background-repeat: no-repeat color rgb(200, 120, 350, 900);
    background-position: center;
    text-shadow:
    1px 1px 2px rgb(148, 103, 103),
    0 0 1em rgb(216, 10, 243),
    0 0 0.2em rgb(141, 146, 111);
    text-decoration-color:none;
  
}

nav {
    background-color: #ddbe0d77;
    text-align: center;
    padding: 30px;
    justify-content: center;
    font-size: 30px;
    margin:20px 20px 20px 0px;
    font-size: 30px;
    font-style: italic; 
    text-decoration-color: black;
     cursor:url('huellita.png'), pointer;
}

nav a :hover {
    color: rgba(197, 142, 24, 0.74);
    text-decoration: underline;
    margin: 0 10px;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #c9a27c;
    text-align: center;
    padding: 30px;
    font-size: 30px;
    font-style: italic;
}

.menu {
    list-style: none;
    padding-top: 0;
    margin: 0%;
    display: flex;
    justify-content: first baseline;
    text-shadow:
    1px 1px 2px rgb(148, 103, 103),
    0 0 1em rgb(216, 10, 243),
    0 0 0.2em rgb(141, 146, 111);
    text-decoration-color:none;
}

.menu li {
    position: relative;
    margin: 20%;
    padding: 0 20px;
    list-style: none;
    padding-top: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    position: relative;
    text-shadow: 1px 1px 2px rgb(148, 103, 103),
    0 0 1em rgb(216, 10, 243), 0 0 0.2em rgb(141, 146, 111);
    text-decoration-color:none;

}

menu li a {
    color: #6591a5;
    text-decoration: none;
    padding: 10%;
    display: block;
}

.menu li:hover a {
    background-color: transparent;
}

/*menu desplegable*/

.submenu {
    display: none;
    position: absolute;
    background-color:transparent;
    list-style: none;
    padding: 10;
    margin: 10;
    top: 100%;
    left: 0;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px;
}
.menu li:hover .submenu {
    display: block;
    background-color:transparent;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-style: italic;
}
.menu li:hover .submenu li {
    padding: 10px;
    display: block;
    color: rgb(0, 0, 0, 0.5);
    text-decoration: none;
}

.submenu li a {
    padding: 10px;
    display: block;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.submenu li a:hover {
    background-color:grey;
}

.menu li:hover .submenu {
    display: block;

}

/*principal*/
.content {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.content img {
    width: 70%;
    height: 100%;
}

.list-container {
    width: 15%;
    padding: 30px;
    padding-right: 0%;
}

.image-grid {
    width: 70%;
    display: grid;
    grid-template-columns: 4, 2%;
    grid-template-columns: 3, 3%;
    gap: 10px;
    padding: 20px;
}

.image-grid img {
    width: 100px;
    height: 80%;
    border-radius: 20px;
    opacity: 100%;
    transform: translateY(-10px);
}

/*  Footer  */

background-image:first-child {
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

background-image:last-child {
    position: absolute;
    width: 200%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(10%);
    transition: all .5s ease;
    opacity: 1;
}

background-image:hover {
    transform: perspective(250px);
    transform: translateY(-10%);
    transition: all .5s ease;
}

.before {
    content: '';
    position: absolute;
    opacity: 1;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom,
            transparent 10%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0)95%);

    opacity: 0;
    transition: all.5s ease;
}

@keyframes show {
    from {
        opacity: 1;
        scale: 25%;
        transform: translateY(-10px);
    }

    to {
        opacity: 2;
        scale: 100%;
        transform: translateY(0px);

    }
}

img {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(-10px);
    animation-name: show;
    animation-fill-mode: both;
    animation-duration: 3s;
    animation-delay: 1s;
    image-rendering: optimizeQuality;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

p {
    font-size: 20px;
    color: #e28204d7;
    text-align: center;
    margin-top: 10px;
    animation-name: underline;
    animation-fill-mode: both;
    animation-duration: 3s;
    animation-delay: 1s;
    text-shadow:
    1px 1px 2px rgb(148, 103, 103),
    0 0 1em rgb(216, 10, 243),
    0 0 0.2em rgb(141, 146, 111);
    text-decoration-color:none;
}
form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-shadow:
    1px 1px 2px rgb(148, 103, 103),
    0 0 1em rgb(216, 10, 243),
    0 0 0.2em rgb(141, 146, 111);
    text-decoration-color:none;
}
.pointer {
    cursor: pointer;
   }
   .move {
    cursor: move;
   }
    .text {
     cursor: text;
    }
footer {
    background-color: #d8b795;
    text-align: center;
    padding: 100px;
    font-size: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}
