
header {
    background-color: #0eb459;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

body {
    background-image: url('fondimeow.png');
    /* Cambia 'fondo.jpg' por el nombre de tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
}
nav {
    background-color: #8091b4;
    text-align: center;
    padding: 10px;
}

nav a :hover {
    color: rgb(206, 191, 201);
    text-decoration: underline;
    margin: 0 10px;
}
.content {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.content img {
    width: 100%;
    height: 100%;
}

.list-container {
    width: 15%;
    padding: 30px;
    padding-right: 0%;
}

.image-grid {
    width: 70%;
    display: grid;
    grid-template-columns: 4, 2%;
    grid-template-columns: 3, 3%;
    gap: 10px;
    padding: 20px;
}

.image-grid img {
    width: 80%;
    height: 80%;
    border-radius: 20px;
}

/*.body {
    background-color: rgba(64, 148, 173, 0.863);
    border: solid 1px rgb(10, 119, 119);
    overflow: hidden;
    margin: 25px;
    color: whitesmoke;
    font-family: 'Lucida Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

ol{
    width: 300px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol li {
    font-size: 1.4rem;
    padding: 20px , 30px;
    margin: 10px, 0;
    background-color: rgb(63, 139, 110);
    cursor: pointer;
    position: relative;
    transition: all 0.4s;
    z-index: 10;
}

ol li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: rgb(8, 228, 228);
    transition: all 0.4s;
    z-index: -1;
}

ol li :hover::before{ 
    width: 100%;
}

ol li:nth-child(1)::before{
    background-color: rgb(182, 228, 17);
}

ol li:nth-child(2)::before{
    background-color: rgb(89, 214, 172);
}
ol li:nth-child(3)::before{
    background-color: rgb(207, 87, 207);
}


ol li:hover{
    transform:translateX(20px);
}
*/